<section class="container has-text-centered">
  <header>
    <a href="/">
      <img class="logo" alt="textual studio" src="../../../assets/img/logo-horizontal-color-negativo.png" />
    </a>
    <h1 class="is-size-1">MORE CONTENT IS COMING VERY SOON…</h1>
  </header>
  <article class="is-size-5">
    Textual Studio will take care of your translations, proofreadings, editing and copywriting needs. You just sit and relax. ;-)
  </article>
  <ul class="direct-contact is-size-5">
    <li>
      <a id="mail" href="mailto:hola@textual-studio.com?subject=web contact">
        hola @ textual-studio.com
      </a>
    </li>
  </ul>
  <ul class="social is-size-5">
    <li>
      <a id="linkedin" href="https://www.linkedin.com/in/plluberas/" target="_blank">
        <i class="fa fa-linkedin fa-fw"></i>
      </a>
    </li>
    <li>
      <a id="twitter" href="http://twitter.com/textualizada" target="_blank">
        <i class="fa fa-twitter fa-fw"></i>
      </a>
    </li>
    <li>
      <a id="instagram" href="http://www.instagram.com/textualizada" target="_blank">
        <i class="fa fa-instagram fa-fw"></i>
      </a>
    </li>
  </ul>
</section>
