<footer class="footer is-family-secondary">
<section>
  <app-external-links></app-external-links>
</section>
<div class="container">
<section class="section columns is-desktop">
  <div class="container column">
    <app-navigation-links [navigationID]="footerNavigationID"></app-navigation-links>
  </div>
  <div class="container column">
    <article *ngIf="gdprText">
      <span [innerHTML]="gdprText" appParseLinks></span>
    </article>
  </div>
</section>

<section class="columns is-mobile">
  <div class="column is-one-fifth-desktop is-offset-two-fifths-desktop is-half-mobile is-offset-one-quarter-mobile">
    <img *ngIf="footerLogo" src="{{ footerLogo }}" />
  </div>
</section>
</div>
</footer>
