@import "../../../styles/variables.scss";

// Override Bulma

.navbar-menu {
  a.navbar-item, a.navbar-link {
    &.is-active {
      background-color: inherit !important;
      border-bottom: 4px solid $secondary;
      padding-bottom: 5px;
    }
  }

  &:not(.isactive) {
    .navbar-dropdown.is-transparent {
      border-top: none;
    }
  }
}
