@import "../../../styles/variables.scss";

// Override Bulma

.navbar-menu {
  // Menu is not open, normal state
  &:not(.is-active) {
    a.navbar-item, a.navbar-link {
      &.is-active {
        background-color: inherit !important;
        border-bottom: 4px solid $navbar-accent-color;
        padding-bottom: 5px;
      }
    }
    .navbar-dropdown.is-transparent {
      border-top: none;

      a.navbar-item:hover {
        color: $navbar-accent-color;
      }
    }

  }
  // Menu is open
  &.is-active {
    a.navbar-item, a.navbar-link {
      &.is-active {
        background-color: inherit;
        border-bottom: none;
      }
    }
    a.navbar-item:hover, a.navbar-link:hover {
      background-color: inherit;
    }
  }
}
