// Set your brand colors
$black: hsl(0, 0%, 4%);
$white-bis: hsl(0, 0%, 98%);
$red: #e33d3d;
$orange: #e36324;
$ocher: #d5b17d;
$grey: #545567;
$white: #e5d9cd;

// Update local variables
$content-background-color: $white-bis;
$external-links-background: $ocher;
$external-links-color: $orange;
$external-links-color-hover: $grey;

// Update Bulma's global variables
$family-primary: "Quicksand", sans-serif;
$family-secondary: "Oswald", sans-serif;
$footer-background-color: $grey;
$footer-padding: 0 0 3rem;
$link: $orange;
$primary: $grey;
$secondary: $orange;
