// Set your brand colors
$black: hsl(0, 0%, 4%);
$white-bis: hsl(0, 0%, 98%);
$red: #e33d3d;
$contrast: #E36323;
$split: #D5B17E;
$dark-neutral: #545667;
$medium-neutral:#E5D9CD;
$clear-neutral: #FFFCF2;

// Update local variables
$content-background-color: $clear-neutral;
$external-links-background: $split;
$external-links-color: $clear-neutral;
$external-links-color-hover: $dark-neutral;
$footer-color: $medium-neutral;
$navbar-accent-color: $contrast;

// Update Bulma's global variables
$body-background-color: $dark-neutral;
$family-primary: "Quicksand", sans-serif;
$family-secondary: "Oswald", sans-serif;
$footer-background-color: $dark-neutral;
$footer-padding: 0 0 3rem;
$link: $contrast;
$navbar-background-color: $clear-neutral;
$navbar-dropdown-background-color: $clear-neutral;
$text: $dark-neutral;
