@import "../../../styles/variables.scss";

.content {
  background-color: $content-background-color;
  margin-bottom: 0;
}
.hero {
  background-color: $content-background-color;
}
.title {
  font-family: $family-secondary;
  margin-bottom: 0;

  &-light {
    color: $clear-neutral;
  }

  &-shadow {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  }
}
.related {
  background: rgba(0,0,0,0.5);
}
