<ng-container *ngIf="page">
  <ng-container *ngIf="page.showBanner">
    <section class="hero is-medium" [ngStyle]="setBackground()">
      <div class="hero-body">
        <div class="container has-text-centered" *ngIf="page.showTitle && page.includeTitleInBanner">
          <h1 class="title title-light title-shadow is-size-1">
            {{ page.title }}
          </h1>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="page.showTitle && (!page.showBanner || !page.includeTitleInBanner)">
    <section class="section content has-text-centered">
      <h1 class="title is-size-1">
        {{ page.title }}
      </h1>
    </section>
  </ng-container>
  <ng-container *ngIf="page.related">
    <div class="hero-foot">
      <nav class="tabs is-fullwidth related">
        <div class="container">
          <ul>
            <li *ngFor="let page of page.related">
              <a [routerLink]="['/', page.slug]">{{ page.title }}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </ng-container>
  <section class="section content">
    <div class="container is-size-5" [innerHTML]="page.content | trustContentFromCosmic"  appParseLinks></div>
  </section>
  <section class="section content" *ngIf="page.includeContactForm">
    <div class="container is-size-5">
      <div class="columns">
        <div class="column is-two-thirds is-offset-2">
            <app-contact-form context="{{ page.title }}"></app-contact-form>
        </div>
      </div>
    </div>
  </section>
</ng-container>
