@import "../../../styles/variables.scss";

.content {
  background-color: $content-background-color;
  margin-bottom: 0;
}
.hero {
  background-color: $content-background-color;
}
.title {
  font-family: $family-secondary;
  margin-bottom: 0;

  &-light {
    color: $clear-neutral;
  }

  &-shadow {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  }
}
.related {
  background: $content-background-color;

  a {
    font-weight: bold;
    text-transform: uppercase;
  }

  li:nth-child(1n) a {
    color: $split;

    &:hover {
      border-bottom-color: $split;
    }
  }

  li:nth-child(2n) a {
    color: $dark-neutral;

    &:hover {
      border-bottom-color: $dark-neutral;
    }
  }

  li:nth-child(3n) a {
    color: $contrast;

    &:hover {
      border-bottom-color: $contrast;
    }
  }
}
