@import "../../../styles/variables.scss";

.image {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4px;
}

.link {
  flex-wrap: wrap;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

ul {
  background-color: $external-links-background;
  overflow: hidden;

  li {
    margin: 7px 0;
  }

  .link {
    color: $external-links-color;

    &:hover {
      text-decoration: underline;
      color: $external-links-color-hover;
    }
  }
}
